html *{
    font-family: Arial;
}
#titlebar {
    position: fixed;
    top: 0;
    width: 102%;
    background-color: lightgrey;
    margin-left: -15px;
    height: 30px;
}
#titlebar p{
    margin-left: 35px;
    font-size: 25px;
    margin-top: 0px;
}
#page{
    width: 100%;
    position: relative;
}
#barcodeform{
    margin-top: 50px;
    margin-left: 20px;
}
#barcodeinput{
    width: 500px;
    height: 24px;
    font-size: 16px;
}
#barcodesubmit{
    background-color: lightgrey;
    width: 70px;
    height: 30px;
    border: 1px solid black;
    font-size: 16px;
    display: block;
    margin-left: 121px;
    margin-top: 20px;
}
#buttondiv{
    width: 1023px;
    height: 30px;
    margin-top: -62px;
    margin-bottom: 50px;
}
#information{
    border: 1px solid black;
    width: 1000px;
    height: 450px;
    margin-top: 10px;
    margin-left: 20px;
}
#togglebutton{
    background-color: lightgrey;
    width: 100px;
    height: 30px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 16px;
    float: right;
}
#firstline{
    width: 40%;
    height:300px;
    float: left;
}
#secondline{
    float: left;
    margin-left: 15%;
    height: 300px;
}
#thirdline{
    width: 1000px;
    height: 500px;
}
#iban{
    font-size: 18px;
    padding: 10px;
}
#amount{
    font-size: 18px;
    padding: 10px;
}
#reference{
    font-size: 18px;
    padding: 10px;
}
#duedate{
    font-size: 18px;
    padding: 10px;
}
canvas{
    width: 600px;
    height: 120px;
    margin: auto;
    display: block;
}
